@page "/find-takeaway"

<PageTitle>Find Takeaway</PageTitle>

<script async src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>

<h3>Find Takeaway</h3>

<h4>Enter your postcode:</h4>

<div class="input-group row g-3 mb-3">
    <div class="col-sm-1">
        <input @bind="submittedPostcode" class="form-control" autocomplete="off" maxlength="8" autofocus placeholder="Postcode" aria-label="Enter postcode to search" type="text">
    </div>
    <div class="col-auto">
        <button @onclick="SubmitPostcode" type="button" class="btn btn-primary mb-3">Submit</button>
    </div>
</div>

<div id="map" style="height: 500px; width: 100%;"></div>